UniMockerBindings/schema/unimocker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns="http://www.kiv.zcu.cz/component-testing/mocker"
	targetNamespace="http://www.kiv.zcu.cz/component-testing/mocker"
	elementFormDefault="qualified"
	jaxb:version="2.1"
	jaxb:extensionBindingPrefixes="xjc">
	<!-- obecne typy // -->
	
	<xsd:simpleType name="TBundleName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(([a-z_]+[0-9]*)+\.)+([a-z_]+[0-9]*)*" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TInterfaceName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(([a-z_]+[0-9]*)+\.)+([a-zA-Z_]+[0-9]*)*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TMethodName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[a-zA-Z_$]([a-zA-Z0-9_$])*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TVersion">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(\d+\.)*(\d+)" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TFile">
		<xsd:restriction base="xsd:anyURI" />
	</xsd:simpleType>

	<xsd:simpleType name="TCollectionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="array" />
			<xsd:enumeration value="ArrayList" />
			<xsd:enumeration value="LinkedList" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="TCollectionItem" abstract="true">
		<xsd:attribute name="ord-num" type="xsd:int" use="required" />
	</xsd:complexType>

	<xsd:complexType name="TCollection" abstract="true">
		<xsd:attribute name="type" default="ArrayList" type="TCollectionType" />
	</xsd:complexType>
	
	<xsd:complexType name="TStringCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="string" type="xsd:string" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBigIntegerCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="BigInteger" type="xsd:integer" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TLongCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="long" type="xsd:long"/>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
		
	<xsd:complexType name="TIntCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="int" type="xsd:int" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TShortCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="short" type="xsd:short" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TByteCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="byte" type="xsd:byte" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBigDecimalCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="BigDecimal" type="xsd:decimal" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TDoubleCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="double" type="xsd:double" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TFloatCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="float" type="xsd:float" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="TFileCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="File" type="TFile" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBooleanCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="bool" type="xsd:boolean" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="TValueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="String" />
			<xsd:enumeration value="stringArrayList" />
			<xsd:enumeration value="stringLinkedList" />
			<xsd:enumeration value="stringArray" />
			<xsd:enumeration value="int" />
			<xsd:enumeration value="intArrayList" />
			<xsd:enumeration value="intLinkedList" />
			<xsd:enumeration value="intArray" />
			<xsd:enumeration value="double" />
			<xsd:enumeration value="doubleArrayList" />
			<xsd:enumeration value="doubleLinkedList" />
			<xsd:enumeration value="doubleArray" />
			<xsd:enumeration value="File" />
			<xsd:enumeration value="FileArrayList" />
			<xsd:enumeration value="FileLinkedList" />
			<xsd:enumeration value="FileArray" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="TNull">
		<xsd:attribute name="base-type" use="required" type="TValueType" />
	</xsd:complexType>

	<xsd:complexType name="TValue">
		<xsd:choice>
			<xsd:element name="string" type="xsd:string" />
			<xsd:element name="BigInteger" type="xsd:integer" />
			<xsd:element name="long" type="xsd:long" />
			<xsd:element name="int" type="xsd:int" />
			<xsd:element name="short" type="xsd:short" />
			<xsd:element name="byte" type="xsd:byte" />
			<xsd:element name="BigDecimal" type="xsd:decimal" />
			<xsd:element name="double" type="xsd:double" />
			<xsd:element name="float" type="xsd:float" />
			<xsd:element name="File" type="TFile" />
			<xsd:element name="bool" type="xsd:boolean" />
			<xsd:element name="strings" type="TStringCollection" />
			<xsd:element name="BigInts" type="TBigIntegerCollection" />
			<xsd:element name="longs" type="TLongCollection" />
			<xsd:element name="ints" type="TIntCollection" />
			<xsd:element name="shorts" type="TShortCollection" />
			<xsd:element name="bytes" type="TByteCollection" />
			<xsd:element name="BigDecimals" type="TBigDecimalCollection" />
			<xsd:element name="doubles" type="TDoubleCollection" />
			<xsd:element name="floats" type="TFloatCollection" />
			<xsd:element name="bools" type="TBooleanCollection" />
			<xsd:element name="Files" type="TFileCollection" />
			<xsd:element name="null" type="TNull" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="TArgument">
		<xsd:complexContent>
			<xsd:extension base="TValue">
				<xsd:attribute name="ord-num" type="xsd:int" default="0" />
				<xsd:attribute name="any" type="xsd:boolean" default="false" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TArgumentsList">
		<xsd:sequence>
			<xsd:element name="argument" type="TArgument" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- simulovane komponenty -->
	<xsd:complexType name="TInvocation">
		<xsd:sequence>
			<xsd:element name="arguments" type="TArgumentsList" />
			<xsd:element name="return" type="TValue" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="TInvokedMethod">
		<xsd:sequence>
			<xsd:element name="invocation" type="TInvocation" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="TMethodName" />
	</xsd:complexType>
	
	<xsd:complexType name="TSimulatedService">
		<xsd:sequence>
			<xsd:element name="method" type="TInvokedMethod" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="interface" type="TInterfaceName" />
	</xsd:complexType>
	
	<xsd:complexType name="TBundle">
		<xsd:sequence>
			<xsd:element name="service" type="TSimulatedService" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="symbolic-name" type="TBundleName" />
		<xsd:attribute name="version" type="TVersion" />
	</xsd:complexType>
	
	<xsd:complexType name="TBundleList">
		<xsd:sequence>
			<xsd:element name="bundle" type="TBundle" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- projekt // -->
	<xsd:complexType name="TProject">
		<xsd:sequence>
			<xsd:element name="simulated-components" type="TBundleList" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- dokument // -->
	<xsd:element name="project" type="TProject" />
</xsd:schema>