UniPlayerBindings/schema/scenario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns="http://www.kiv.zcu.cz/component-testing/player"
	targetNamespace="http://www.kiv.zcu.cz/component-testing/player"
	jaxb:version="2.1"
	elementFormDefault="qualified"
	jaxb:extensionBindingPrefixes="xjc">
	
	<!-- obecne typy // -->
	<xsd:simpleType name="TNonNegativeLong">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TNonNegativeDouble">
		<xsd:restriction base="xsd:double">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TPositiveLong">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TBundleName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(([a-z_]+[0-9]*)+\.)+([a-z_]+[0-9]*)*" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TInterfaceName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(([a-z_]+[0-9]*)+\.)+([a-zA-Z_]+[0-9]*)*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TMethodName">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[a-zA-Z_$]([a-zA-Z0-9_$])*" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TVersion">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="(\d+\.)*(\d+)" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TFile">
		<xsd:restriction base="xsd:anyURI" />
	</xsd:simpleType>

	<xsd:simpleType name="TCollectionType">
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="array" />
			<xsd:enumeration value="ArrayList" />
			<xsd:enumeration value="LinkedList" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="TCollectionItem" abstract="true">
		<xsd:attribute name="ord-num" type="xsd:int" use="required" />
	</xsd:complexType>

	<xsd:complexType name="TCollection" abstract="true">
		<xsd:attribute name="type" default="ArrayList" type="TCollectionType" />
	</xsd:complexType>
	
	<xsd:complexType name="TStringCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="string" type="xsd:string" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBigIntegerCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="BigInteger" type="xsd:integer" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TLongCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="long" type="xsd:long"/>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
		
	<xsd:complexType name="TIntCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="int" type="xsd:int" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TShortCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="short" type="xsd:short" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TByteCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="byte" type="xsd:byte" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBigDecimalCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="BigDecimal" type="xsd:decimal" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TDoubleCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="double" type="xsd:double" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TFloatCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="float" type="xsd:float" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>	
	
	<xsd:complexType name="TFileCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="File" type="TFile" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="TBooleanCollection">
		<xsd:complexContent>
			<xsd:extension base="TCollection">
				<xsd:sequence>
					<xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="TCollectionItem">
									<xsd:sequence>
										<xsd:element name="bool" type="xsd:boolean" />
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="TValueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="String" />
			<xsd:enumeration value="stringArrayList" />
			<xsd:enumeration value="stringLinkedList" />
			<xsd:enumeration value="stringArray" />
			<xsd:enumeration value="int" />
			<xsd:enumeration value="intArrayList" />
			<xsd:enumeration value="intLinkedList" />
			<xsd:enumeration value="intArray" />
			<xsd:enumeration value="double" />
			<xsd:enumeration value="doubleArrayList" />
			<xsd:enumeration value="doubleLinkedList" />
			<xsd:enumeration value="doubleArray" />
			<xsd:enumeration value="File" />
			<xsd:enumeration value="FileArrayList" />
			<xsd:enumeration value="FileLinkedList" />
			<xsd:enumeration value="FileArray" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="TNull">
		<xsd:attribute name="base-type" use="required" type="TValueType" />
	</xsd:complexType>

	<xsd:complexType name="TValue">
		<xsd:choice>
			<xsd:element name="string" type="xsd:string" />
			<xsd:element name="BigInteger" type="xsd:integer" />
			<xsd:element name="long" type="xsd:long" />
			<xsd:element name="int" type="xsd:int" />
			<xsd:element name="short" type="xsd:short" />
			<xsd:element name="byte" type="xsd:byte" />
			<xsd:element name="BigDecimal" type="xsd:decimal" />
			<xsd:element name="double" type="xsd:double" />
			<xsd:element name="float" type="xsd:float" />
			<xsd:element name="File" type="TFile" />
			<xsd:element name="bool" type="xsd:boolean" />
			<xsd:element name="strings" type="TStringCollection" />
			<xsd:element name="BigInts" type="TBigIntegerCollection" />
			<xsd:element name="longs" type="TLongCollection" />
			<xsd:element name="ints" type="TIntCollection" />
			<xsd:element name="shorts" type="TShortCollection" />
			<xsd:element name="bytes" type="TByteCollection" />
			<xsd:element name="BigDecimals" type="TBigDecimalCollection" />
			<xsd:element name="doubles" type="TDoubleCollection" />
			<xsd:element name="floats" type="TFloatCollection" />
			<xsd:element name="bools" type="TBooleanCollection" />
			<xsd:element name="Files" type="TFileCollection" />
			<xsd:element name="null" type="TNull" />
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="TArgument">
		<xsd:complexContent>
			<xsd:extension base="TValue">
				<xsd:attribute name="ord-num" type="xsd:int" default="0" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Gaussovo pravdepodobnostni rozdeleni // -->
	<xsd:complexType name="TGaussian">
		<xsd:attribute name="mean" type="xsd:double" use="required" />
		<xsd:attribute name="deviation" type="xsd:double" use="required" />
	</xsd:complexType>

	<!-- exponencialni pravdepodobnostni rozdeleni // -->
	<xsd:complexType name="TExponential">
		<xsd:attribute name="rate" type="TNonNegativeLong" use="required" />
		<xsd:attribute name="time-span" type="TNonNegativeLong"
			use="required" />
	</xsd:complexType>
	
	<!-- pravidelne opakovani // -->
	<xsd:complexType name="TEquidistant">
		<xsd:attribute name="step" type="TNonNegativeLong" use="required" />
	</xsd:complexType>

	<!-- opakovani // -->
	<xsd:complexType name="TRecurrence">
		<xsd:choice>
			<xsd:element name="equidistant" type="TEquidistant" />
			<xsd:element name="gaussian" type="TGaussian" />
			<xsd:element name="exponential" type="TExponential" />
		</xsd:choice>
		<xsd:attribute name="count" type="TPositiveLong" default="1" />
		<xsd:attribute name="repeat-until" type="TPositiveLong" default="9223372036854775807" />
	</xsd:complexType>

	<!-- volani metody // -->

	<xsd:complexType name="TArgumentsList">
		<xsd:sequence>
			<xsd:element name="argument" type="TArgument" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TCall">
		<xsd:sequence>
			<xsd:element name="arguments" type="TArgumentsList" />
		</xsd:sequence>
		<xsd:attribute name="service" type="TInterfaceName" use="required" />
		<xsd:attribute name="method" type="TMethodName" use="required" />
		<xsd:attribute name="filter" type="xsd:string" use="optional" />
	</xsd:complexType>

	<!-- vyvolani udalosti // -->
	<xsd:complexType name="TEvent">
		<xsd:sequence>
			<xsd:element name="argument" type="TValue" />
		</xsd:sequence>
		<xsd:attribute name="topic" type="xsd:string" use="required" />
		<xsd:attribute name="key" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="TCommand">
		<xsd:choice>
			<xsd:element name="call" type="TCall" />
			<xsd:element name="event" type="TEvent" />
		</xsd:choice>
	</xsd:complexType>

	<!-- akce scenare -->
	<xsd:complexType name="TAction">
		<xsd:sequence>
			<xsd:element name="recurrence" type="TRecurrence" minOccurs="0" maxOccurs="1" />
			<xsd:element name="command" type="TCommand" />
		</xsd:sequence>
		<xsd:attribute name="time" type="xsd:long" use="required" />
	</xsd:complexType>

	<!-- seznam akci (scenar) -->
	<xsd:complexType name="TActionsList">
		<xsd:sequence>
			<xsd:element name="action" type="TAction" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TSettings">
		<xsd:sequence>
			<xsd:element name="time-limit" type="TPositiveLong" default="9223372036854775807"  minOccurs="0" maxOccurs="1" />
			<xsd:element name="simul-step-delay" type="TNonNegativeLong" default="0"  minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- projekt // -->
	<xsd:complexType name="TProject">
		<xsd:sequence>
			<xsd:element name="settings" type="TSettings" minOccurs="0" maxOccurs="1" />
			<xsd:element name="actions"  type="TActionsList" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- dokument // -->
	<xsd:element name="project" type="TProject" />
</xsd:schema>